<div class="row">
  <form action="" method="post" role="form">
  	<legend>My Bookings</legend>

  	<div class="form-group">
  		<label for=""></label>
  		<input type="text" class="form-control" name="" id="" placeholder="Input...">
  	</div>

  	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th>Reason</th>
  				<th>Date and time</th>
  				<th></th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr ng-repeat="booking in vm.bookings">
  				<td>{{booking.reason}}</td>
  				<td>{{booking.date | date:"MMM d, y h:mm:ss a"}}</td>
          <td><button ng-click="vm.cancel()" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-remove"></span> Cancel</button></td>
  			</tr>
  		</tbody>
  	</table>
  </form>
</div>
