<div class="row">
  <!--<form action="" method="post" role="form">-->
    <legend>Search Patient Bookings
      <small>Filter by patient name</small>
    </legend>
    <div class="row" style="margin-top: 25px; margin-bottom: 15px">
      <div class="col-md-6">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input ng-model="vm.searchText" type="text" class="form-control input-lg" placeholder="Enter Patient Name"/>
                    <span class="input-group-btn">
                        <button ng-click="vm.searchBookings()" class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Patient Email</th>
        <th>Booking Date</th>
        <th>Reason</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="booking in vm.bookings | filter:vm.searchText">
        <td>{{booking.patientUserId}}</td>
        <td>{{booking.requiredDate | date:'medium'}}</td>
        <td>{{booking.reason}}</td>
        <td><a class="btn-lg btn btn-primary" ui-sref="booking.consultProcess({bookingId: booking.processInstanceId})"> <span class="glyphicon glyphicon-list"></span> View Details ..</a></td>
      </tr>
      </tbody>
    </table>
  <!--</form>-->
</div>
