<section role="form">
  <div class="form-group">
    <label class="control-label">First Name:</label>
    <input width="100px" type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name...">
  </div>
  <div class="form-group">
    <label for="firstName">Last Name:</label>
    <input type="text" class="form-control" name="lastName" id="lastName" placeholder="First Name...">
  </div>
  <div class="form-group">
    <label for="firstName">Email:</label>
    <input type="text" class="form-control" name="email" id="email" placeholder="First Name...">
  </div>
  <div class="form-group">
    <label for="firstName">Cell Phone:</label>
    <input type="text" class="form-control" name="cellPhone" id="cellPhone" placeholder="First Name...">
  </div>
</section>
