<div class="row">
  <div class="col-md-offset-3 col-lg-offset-3 col-md-offset-3 col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-default">
      <div class="page-header text-center">
        <h2>Login <small>Use email and password to login.</small></h2>
      </div>
    	<div class="panel-body" >
        <form autocomplete="off" method="post" name="dataForm"  role="form" ng-submit="vm.login()">
          <div class="form-group">
            <label for="email">Email</label>
            <i class="fa fa-key"></i>
            <input type="text" class="form-control" name="" id="email" placeholder="Enter your email" ng-model="vm.credentials.email" required>
            <span class="help-block" ng-show="dataForm.email.$dirty && dataForm.email.$error.required" >Email is required</span>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <i class="fa fa-lock"></i>
            <input ng-model="vm.credentials.password" type="password" class="form-control" name="password" id="password" placeholder="Enter your password">
            <span ng-show="dataForm.password.$dirty && dataForm.password.$error.required" class="help-block">Password is required</span>
          </div>
          <div class="form-actions">
            <button ng-disabled="dataForm.$isvalid || dataLoading" type="submit" class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-log-in" ></span> Login - <small>click here to login</small></button>
            <button ng-disabled="dataForm.$isvalid || dataLoading" ui-sref="auth.register({roleId:'patients'})" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-user" ></span> Register - <small>click here to register</small></button>
          </div>
        </form>
    	</div>
    </div>
  </div>
</div>
